# Red Hat Enterprise Linux Server 7
# Kickstart Generator: https://access.redhat.com/labs/kickstartconfig/

install
lang en_GB.UTF-8
keyboard --vckeymap=uk --xlayouts='gb'
timezone UTC
rootpw $6$L.INFHnc1oig3h8e$wb.zCa5MeXmxt9GDSr/mWcinwYlJEm4N4YKOsOdQlF3ZOcVi8pTEhSpNunPyPO0Afnw.4PrSslB/vhy8ncQZw0 --iscrypted
user --name=build --groups=wheel --iscrypted --password=$6$L.INFHnc1oig3h8e$wb.zCa5MeXmxt9GDSr/mWcinwYlJEm4N4YKOsOdQlF3ZOcVi8pTEhSpNunPyPO0Afnw.4PrSslB/vhy8ncQZw0
cdrom
reboot --eject
bootloader --location=mbr --append="rhgb quiet crashkernel=auto"
zerombr
autopart
clearpart --all --initlabel
auth --passalgo=sha512 --useshadow
firewall --enabled --ssh
skipx
selinux --permissive
firstboot --disable

%packages
@^minimal
kexec-tools
%end

%post
yum install -y sudo open-vm-tools perl
echo "build ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/build
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
%end